@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content">
    <h2>Welcome to the Library</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/home/assets.png" class="">
                    <div class="caption">
                        <h2 class="">Library Assets</h2>
                        <p>
                            <small class="text-muted">A list of all the available books and videos in the library</small>
                        </p>
                        <p><a asp-controller="Catalog" asp-action="Index" class="btn btn-primary" role="button">More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/home/branches.png" class="">
                    <div class="caption">
                        <h2>Library Branches</h2>
                        <p>
                            <small class="text-muted">All operational libraries in the country</small>
                        </p>
                        <p><a asp-controller="Branch" asp-action="Index" class="btn btn-primary" role="button">More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/home/patrons.png" class="">
                    <div class="caption">
                        <h2>Patrons</h2>
                        <p>
                            <small class="text-muted">View all the patrons in all regions of the Library Sect.</small>
                        </p>
                        <p><a asp-controller="Patron" asp-action="Index" class="btn btn-primary" role="button">More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>