@model LibraryFullstackSystem1.Models.Catalog.AssetIndexModel

<div class="body-content">
    <div class="body-content">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="text-capitalize">Library Catalog</h1>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
        <table class="table table-condensed table-hover">
            <thead class="">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author/Director</th>
                    <th>Dewey Call Number</th>
                </tr>
            </thead>
            <tbody class="">
                @foreach (var assets in Model.Assets)
                {
                    <tr>
                        <td>
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@assets.Id">
                                <img src=@assets.ImageUrl class="imageSmall">
                            </a>
                        </td>
                        <td>@assets.Title</td>
                        <td>@assets.AuthorOrDirector</td>
                        <td>@assets.DeweyCallNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


